<div class="custom-links">
    <a href="{{@site_url}}/privacy/">Privacy</a>
    <a href="{{@site_url}}/terms/">Terms</a>
    <a href="{{@site_url}}/about/">About</a>
    <a href="{{@site_url}}/contact/">Contact</a>
</div>