<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{> widget-about}}
            </div>
            <div class="col-md-5">
                {{> widget-tags}}
                {{> widget-navigation}}
            </div>
            <div class="col-md-4">
                {{> widget-subscribe}}
                {{> widget-social}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="copyright-wrap text-center">
                    {{> copyright}}
                    {{> custom-links}}
                </div>
            </div>
        </div>
    </div>
</footer>
{{> search-popup}}