<div class="widget">
    <h4 class="widget-title">{{t "Navigation"}}</h4>
    <div class="content navigation">
        <ul class="d-none d-xl-flex">
            {{navigation type="secondary"}}
        </ul>
    </div>
</div>