<div class="widget">
    <h4 class="widget-title">{{t "Follow Us"}}</h4>
    <div class="content follow-social">
        <ul class="social-links">
            <li><a href="#">{{> icons/twitter}}</a></li>
            <li><a href="#">{{> icons/facebook}}</a></li>
            <li><a href="#">{{> icons/instagram}}</a></li>
            <li><a href="#">{{> icons/dribbble}}</a></li>
            <li><a href="#">{{> icons/behance}}</a></li>
            <li><a href="#">{{> icons/medium}}</a></li>
            <li><a href="#">{{> icons/pinterest}}</a></li>
            <li><a href="#">{{> icons/youtube}}</a></li>
            <li><a href="#">{{> icons/linkedin}}</a></li>
        </ul>
    </div>
</div>