<div class="widget">
    <h4 class="widget-title">{{@site.title}}</h4>
    <div class="content">
        <p>World Times is a newspaper / magazine style  highly content focus theme for ghost blogging platform. You can remove this text and add text you want. May be you can show small text about your site.</p>
    </div>
</div>